{% extends 'base.html.twig' %}


{% block body %}

<iframe src="https://www.payfacile.com/politique/si/adhesion-mensuelle" width="100%" height="680" frameborder="no"></iframe>
{% endblock %}

{% block droite %}
<p> Je suis la page droite </p>
{% endblock %}